* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: 'SF UI Display Light', sans-serif;
    font-size: 16px;
    color: #1f2f4b;
}

a {
    color: #1f2f4b;
    text-decoration: none;
}

input, button {
    background: #fafafa;
    border: none;
}

input:focus, button:focus {
    background: #fafafa;
    outline: none;
}
